utton.tab-button.ui-btn.ui-shadow.ui-corner-all img {
    width: 39px;
    border-radius: 50%;
    background: transparent;
}
button.tab-button {
    width: 100%;
    background: transparent;
}

button.tab-button img {
    width: 50px;
}
.ion-padding, [padding] {
    background-color: #03c8f5;
}
.ion-page {
    background-color: #03c8f5;
}
.footer {
    background-color: #03c8f5;
}
p.play-frest {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col-xs-6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}
p.footerdos  {
    float: right;
    margin-top: 48px;
}
img.footerdos  {
    width: 50px;
    float: right;
    margin-top: 30px;
}
h1#suma {
    margin-top: 10px;
    margin-bottom: 10px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1.puntaje {
    font-size: 100pt;
    margin-bottom: 30px;
    margin-top: 30px;
}
p.play-frest img {
    width: 31px;
    margin-right: 10px;
}
button.tab-button.ui-btn.ui-shadow.ui-corner-all {
    background: transparent;
    border: 0px;
}
