<ion-content>
  <div class="ion-padding">
    <div class="container" v-if="users">
      <Button class="tab-button" (click)="checkGPSPermission()"><img src="assets/resfr.png" alt=""></Button>
      <p class="play-frest"><img src="assets/play.png" alt="">{{users.icon}}</p>
      <h1 class="puntaje">{{users.temperature}}º</h1>
      <div class="row">
          <div class="col-xs-6">
              <h1 id="nombre">HUMIDITY</h1>
              <p id="port">{{users.humidity}}</p>
          </div>
          <div class="col-xs-6">
              <h1 id="nombre1">RAIN</h1>
              <p id="port1">{{users.precipProbability}}</p>
          </div>
      </div>
      <h1 class="final" id="suma">{{users.summary}}</h1>
              <img class="footerdos" src="assets/footer.png" alt="">
              <p class="footerdos">Copy Janes saenz puerta</p>
  </div>
  </div>
</ion-content>
